body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 20px 0;
    margin: auto;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
    background-image: url("https://cdn.wallpapersafari.com/95/63/MjZVHF.jpg");
    background-size: cover;
} 


button {
    margin: 20px 0;
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    padding: 5px 8px;
    margin-right: 3px;
    margin-left: 3px;
    width: 180px;
    height:50px;
    background-color:brown;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight:bold;
    border:none;
    border-radius:2px;
}
#secondNum-lbl{
     margin-left: 60px;
}
p{
    margin: auto;
    margin-top: 20px;
    border: solid;
    border-color: blueviolet;
    widhth: 100%;
    height: 40px;
    font-weight: bolder;
    font-size: 30px;
    
}
section{
    background-color: lightcoral;
    margin-top: 12%;
    margin-left: 15%;
    margin-right: 15%;
}
span{
    margin-top: 3px;
}
input{
    height: 40px;
    font-size: 30px;
}